:root{
    --primary-color: #669ccb;
    --primary-color-dark: #5681a7;
    --secondary-color: #77bcff;
    --text-dark: #282d31;
    --text-light: #545145;
    --extra-light: #5d7686;
    --max-width: 95%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section_container{
    padding: 5rem 1rem;
    max-width: var(--max-width);
    margin: auto;
}
.section_title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}
.section_subtitle{
    font-size: 1rem;
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 5rem;
    text-align: center;
}
nav{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 1rem;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo a{
    text-decoration: none;
    color: var(--extra-light);
    font-size: 1.5rem;
}
.nav_links{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}
.nav_links a{
    text-decoration: none;
    color: var(--extra-light);
}
.link{
    color: var(--extra-light);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
.link:hover{
    color: var(--primary-color);
}
.pop{
    width: 50%;
}